:host {
  .footer-container{
    background-color: #dadff0;
    padding: 2rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: #88888d;
  
    img{
        height: 6rem;
        margin-bottom: 0rem;
    }
  
    .footer-info-container{
        .footer-title{
            color: #000;
            margin-bottom: 10px;
        }
  
        p{
            margin-bottom: 0;
        }
  
        a{
            text-decoration: none;
            content: "secretariatecnica\@une.es";
            color: #88888d;

          &hover{
            border-bottom: 1px solid #88888d;
          }
        }
    }
  }
  
  
  @media screen and (width <= 767px){
   .container{
    justify-content: left;
    align-items: left;
   } 
  }
}



