:host {
  --ds-expandable-navbar-height: auto;

  nav.navbar {
    background-color: #f8f9fa; // Cambiado a un color específico
    align-items: baseline;
    padding: 1rem; // Aumentar el padding
  }

  @media screen and (max-width: 768px) { // Cambiar a un breakpoint específico
    .navbar {
      width: 100%;
      background-color: #ffffff; // Asegúrate de que coincida con el diseño
      height: auto; // Cambiar a auto para el diseño móvil
      &.open {
        min-height: 100vh;
      }
    }
  }

  #main-navbar ::ng-deep {
    .ds-menu-item {
      color: #343a40; // Cambiar color de texto
      padding: 1rem; // Ajustar padding
      &:hover, &:focus {
        color: #007bff; // Cambiar color al hacer hover
      }
    }
  }
}
