<section className="info-cards-container">

<div className="info-card">
          <img src="assets/images/declaracion-icon.png" alt="" />
          <div>
            <h5>Declaración</h5>
            <p>
              Lorem ipsum dolor sit amet,
              consectetuer adipiscing elit.
            </p>
          </div>
        </div>

        <div className="info-card">
        <img src="assets/images/informes-icon.png" alt="" />
          <div>
            <h5>Informes</h5>
            <p>
              Lorem ipsum dolor sit amet,
              consectetuer adipiscing elit.
            </p>
          </div>
        </div>
</section>