<div class="row info-cards-container">
    <div class="col-sm-6">
      <div class="card card-container">
        <div class="card-body">
          <h5 class="card-title"><strong>Declaración</strong></h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit.
          </p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="card card-container">
        <div class="card-body card-container">
          <h5 class="card-title"><strong>Informes</strong></h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit.
          </p>
        </div>
      </div>
    </div>

  </div>