<!--Listado-->
<h4 class="h4 mt-5 mb-5 text-uppercase">Listar por</h4>
  <section class='home-list-container'>
    <div>
      <img src="assets/images/ico_materias.svg" alt="materias" />  
      <h5>Materias</h5>
      <p>
      Lorem ipsum dolor sit
      amet, consectetuer
      adipiscing elit.
      </p>
    </div>

    <div>
      <img src="assets/images/ico_autoria.svg" alt="autoria" />
      <h5>Autoría</h5>
      <p>
      Lorem ipsum dolor sit
      amet, consectetuer
      adipiscing elit.
      </p>
    </div>

    <div>
      <img src="assets/images/ico_colecciones.svg" alt="colecciones" />
      <h5>Colecciones</h5>
      <p>
      Lorem ipsum dolor sit
      amet, consectetuer
      adipiscing elit.
      </p>
    </div>

    <div>
      <img src="assets/images/ico_editoriales.svg" alt="autoria" />
      <h5>Editoriales</h5>
      <p>
      Lorem ipsum dolor sit
      amet, consectetuer
      adipiscing elit.
      </p>
    </div>
  </section>


  <!--
<ng-container *ngVar="(communitiesRD$ | async) as communitiesRD">
  <div *ngIf="communitiesRD?.hasSucceeded ">
    <h2>
      {{'home.top-level-communities.head' | translate}}
    </h2>
  <p class="lead">{{'home.top-level-communities.help' | translate}}</p>
  <ds-viewable-collection
    [config]="config"
    [sortConfig]="sortConfig"
    [objects]="communitiesRD$ | async"
    [hideGear]="true">
  </ds-viewable-collection>
</div>
<ds-error *ngIf="communitiesRD?.hasFailed " message="{{'error.top-level-communities' | translate}}"></ds-error>
<ds-loading *ngIf="communitiesRD?.isLoading " message="{{'loading.top-level-communities' | translate}}"></ds-loading></ng-container>

-->