<section class="help-container m-auto text-center w-50">
    <p class="my-3">
        Como Podemos ayudarte?
    </p>
    <div class="form-group">
        <input name="search" type="text" placeholder="Escribe tu pregunta aqui" class="form-control">
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-4" *ngFor="let card of helpCards">
            <div class="card h-100 shadow-sm hover-card">
                <div class="card-body">
                    <div class="mb-3 text-center">
                        <i class="fas" [ngClass]="card.icon + ' fa-4x text-primary'"></i>
                      </div>
                    <h3 class="card-title">{{ card.title }}</h3>
                    <h5 class="card-text">{{ card.description }}</h5>
                    <!-- <a [routerLink]="card.link" class="btn btn-primary">Ver más</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <p>¿Necesitas Ayuda?</p>
    <img src="https://static.vecteezy.com/system/resources/previews/012/174/061/non_2x/3d-question-mark-free-png.png" alt=""> -->
</section>