<!--
<table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let header of headers" scope="col">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </tbody>
  </table>
  
-->

<div class="tables-container">
    <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Materias</th>
            <td>Lorem ipsum</td>
          </tr>
          <tr>
            <th scope="row">Palabras clave</th>
            <td>Lorem ipsum</td>
          </tr>
          <tr>
            <th scope="row">Editorial</th>
            <td>Lorem ipsum</td>
          </tr>
          <tr>
            <th scope="row">Año</th>
            <td>Lorem ipsum</td>
          </tr>
          <tr>
            <th scope="row">Número de edición</th>
            <td>Lorem ipsum</td>
          </tr>
          <tr>
            <th scope="row">ISBN</th>
            <td>Lorem ipsum</td>
          </tr>
          <tr>
            <th scope="row">DOL</th>
            <td>Lorem ipsum</td>
          </tr>
          <tr>
            <th scope="row">Licencia</th>
            <td>Lorem ipsum</td>
          </tr>
        </tbody>
      </table>
      
      
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Idioma de publicación</th>
            <th scope="col">Tipo de recurso</th>
            <th scope="col">Colección</th>
            <th scope="col">Materias controladas</th>
            <th scope="col">Derechos de uso</th>
            <th scope="col">Handle (URI)</th>
            <th scope="col">En UNEBOOK</th>
            <th scope="col">Fecha de publicación en abierto</th>
            <th scope="col">Financiación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
          </tr>
        </tbody>
      </table>
</div>