<section class='about-container'>
    <div class='about-info-container'>
        <h2>Quiénes somos?</h2>

        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus arcu ligula, eu
        rutrum nisi gravida et. Pellentesque sagittis tincidunt dolor, vitae condimentum purus
        tincidunt rhoncus. Donec sed arcu sit amet magna scelerisque posuere. Curabitur
        elementum neque sed magna tempor, at semper nunc elementum. Nam quis nulla
        vestibulum, sagittis ipsum id, interdum enim. Suspendisse feugiat semper ipsum nec
        varius. Morbi arcu nisl, dapibus id tincidunt nec, facilisis sed ipsum. Quisque sed
        ligula vestibulum, rhoncus lectus malesuada, tincidunt felis. Aenean non tempus erat.
        Nam pharetra imperdiet ante, sed tincidunt nibh ornare quis. Sed ipsum tortor,
        venenatis at sollicitudin ac, viverra in quam. Morbi mattis, leo nec tristique convallis,
        ligula lorem varius sapien, vitae cursus mauris quam quis elit. Cras eget ipsum felis.
        Nulla nec libero vitae ex malesuada auctor ac in felis. Proin finibus nulla ut nulla
        aliquet, nec blandit ante lobortis.
        </p>

        <p>
        Feugiat sodales et sed nulla
        Suspendisse at pharetra quam, id luctus nisl. Duis pharetra augue ac tincidunt
        elementum. In ac consequat odio. Sed a hendrerit odio, id dignissim odio. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi
        feugiat ex est, ac viverra libero vehicula vel. Nullam ipsum eros, ultrices non diam ac,
        cursus tincidunt ipsum.
        </p>

        <p>
        Suspendisse potenti
        Suspendisse dapibus tristique condimentum. In eget purus vitae diam dignissim
        vestibulum. Cras mi est, laoreet id lectus eget, congue condimentum lorem. Etiam
        efficitur eros ac nulla posuere, quis molestie neque hendrerit. Aliquam elementum
        semper commodo. Ut massa dui, hendrerit ac lorem vel, dignissim viverra enim.
        Aenean pretium nibh non ipsum varius iaculis. In at elit non sapien feugiat sodales et
        sed nulla. Nam facilisis dui et odio egestas, sit amet eleifend orci blandit.
        Suspendisse potenti. Duis fermentum tristique sem volutpat aliquet. Aenean dictum
        nulla a libero ultricies ornare. Donec sed sodales lectus. Nullam fringilla imperdiet leo
        ac dapibus. Quisque venenatis rhoncus magna vitae porttitor.
        </p>

        <p>
        Ut eros turpis, imperdiet et vulputate vitae, pulvinar non erat. Curabitur bibendum mi
        ac eleifend gravida. Donec sit amet ligula at augue scelerisque tincidunt. Donec eget
        massa in tortor commodo vestibulum id sit amet ligula. Vestibulum est augue, dictum
        at metus rhoncus, condimentum vestibulum nisl. Morbi bibendum dui ipsum, eget
        suscipit leo vulputate nec. Vestibulum nisl tortor, pharetra eget elit ut, rhoncus
        lobortis mauris.
        </p>
    </div>
    
      <ol class="list-group list-group-numbered about-info-card">
        <li class="list-group-item">Quiénes somos</li>
        <li class="list-group-item">Tecnología</li>
        <li class="list-group-item">Política y servicios</li>
        <li class="list-group-item">Editoriales</li>
      </ol>
</section>