<!--Componente de declaración e informes-->
<section class="declaracion-informe-container">
    <!--Declaración-->
    <div class="info-container">
      <img src="assets/images/declaracion_icon.png" alt="declaracion" />
      <div>
        <h4>Declaración</h4>
        <p>
          Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit.
        </p>
      </div>
    </div>
  
    <div class="info-container">
      <!--Informes-->
      <img src="assets/images/informes_icon.png" alt="informes" />
      <div>
        <h4>Informes</h4>
        <p>
          Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit.
        </p>
      </div>
    </div>
  </section>