:host{
    .id-btn{
        background-color: rgb(167, 226, 78);
        color: white;
        border-radius: 8rem;
        padding: 2px;
        text-transform: uppercase;
        border: none;
        margin-bottom: 1rem;
        align-self: center;
    }
}