<section class="contact-section">
    <div class="contact-info">
        <h2>Contacto</h2>
        <div class="secretaria-tecnica">
            <h3>SECRETARÍA TÉCNICA</h3>
            <p>Joaquín Corbacho</p>
            <p>Teléfono: 913 600 698</p>
            <p>secretariatecnica&#64;une.es</p>
            <p>Marta García Palomo</p>
            <p>Teléfono: 913 600 698</p>
            <p>secretariatecnica&#64;une.es</p>
        </div>
        <div class="comunicacion-prensa">
            <h3>COMUNICACIÓN Y PRENSA</h3>
            <p>Rosa de Bustos</p>
            <p>Teléfono: 654 991 862</p>
            <p>prensa&#64;une.es</p>
            <p>Juliá Sánchez-Arévalo Gallardo</p>
            <p>Teléfono: 913 600 698</p>
            <p>prensa&#64;une.es</p>
        </div>
        <div class="unebook">
            <h3>UNebook</h3>
            <p>Alejandro Fernández Diego</p>
            <p>Teléfono: 915 996 691</p>
            <p>alejandrof&#64;unebook.es</p>
        </div>
    </div>
    <div class="contact-form">
        <h2>Envíanos tu consulta a través de este formulario.</h2>
        <form>
            <label for="name">Tu Nombre</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Mensaje</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </div>
</section>